<h1>Home Page</h1>

<div id="search-section">
  
  <form id="search-form">
    <input type='text' id="search-input" name="search-input" placeholder="enter your search">
    <input type="button" id="search-btn" value="Search">
  </form>

</div>

<div id="content">
  
</div>

<div class="create">
  
  <h3>Add a new contact</h3>


  <form id="create-form">
  <div class="form-group">
    <label for="email-field"></label>
    <input type='text' id="email-field" name="email-field" placeholder="contact email">
  </div>
  <div class="form-group">
    <label for="name-field"></label>
    <input type='text' id="name-field" name="name-field" placeholder="contact name">
  </div>
    <input type="button" id="create-btn" value="Add">
  </form>

</div>


